{% extends "base.html" %}
{% block page_title %}Sign up{% endblock page_title %}
{% block search-bar %}{% endblock search-bar %}
{% block content %}


<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
    {% include 'partials/social_login.html' %}

    <form method="POST" action = "{% url "users:signup" %}" class="w-full">
        {% csrf_token %}

        {% if forms.non_field_errors %}
            {% for error in forms.non_field_errors %}
                <span class="text-red-700 font-medium text-small">{{error}}</span>
            {% endfor %}
        {% endif %}

        
        {% for field in form  %}
            <div class="input w-full {% if field.error %}has_error{% endif %}">
                {{field}}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="text-red-700 font-medium text-sm">{{error}}</span>
                    {% endfor %}
                {% endif %}
            </div>        
        {% endfor %}
            


        <!--
        <div class="input has_error">
            {{ form.first_name }}
            {% if forms.first_name %}
                {% for error in forms.first_name %}
                    <span class="text-red-700 font-medium text-small">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="input has_error">
            {{ form.last_name }}
            {% if forms.last_name %}
                {% for error in forms.last_name %}
                    <span class="text-red-700 font-medium text-small">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="input has_error">
            {{ form.email }}
            {% if forms.email %}
                {% for error in forms.email %}
                    <span class="text-red-700 font-medium text-small">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="input has_error">
            {{ form.password }}
            {% if forms.password %}
                {% for error in forms.password %}
                    <span class="text-red-700 font-medium text-small">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="input has_error">
            {{ form.password1 }}
            {% if forms.password1 %}
                {% for error in forms.password1 %}
                    <span class="text-red-700 font-medium text-small">{{error}}</span>
                {% endfor %}
            {% endif %}
        </div> -->

        




        <button class="btn bg-red-500 text-white">Signup</button>
    </form>

</div>
{% endblock content %}